.header {
    text-align: center;
}
.header h1 {
    font-size: 75px;
}
.header h2 {
    font-size: 40px;
    font-style: italic;
}
button {
    background-color: #03335F;
    color: white;
    padding: 20px;
    text-align: center;
    margin: 0 auto;
}
#top {
    text-align: center;
    margin: 0 auto;
}
.topButton {
	position: relative;
	top: -50px;
	width: 84%;
	background-color: #F3B720;
	height: 35px;
	color: rgba(255,255,255,1.00);
	border-style: none;
	font-size: 14px;
	text-transform: uppercase;
	margin-top: 8px;
    padding: 5px;
    font-weight: bold;
    border: 5px inset #03335F;
}
.topButton:hover {
    background-color: #03335F;
    color: #F3B720;
    border: 5px inset #F3B720;
}
body {
    color: #03335F;
    overflow-x: hidden;
}
h5 {
    font-size: 20px;
    color: red;
    background-color: white;
    width: 250px;
    margin: 0 auto;
    border: 5px inset red;
    border-radius: 10px;
    margin-bottom: -10px;
}
.carousel-item {
	background-color: #03335F;
}
.csl {
    border: 10px inset red;
    border-radius: 10px;
}