.header {
    text-align: center;
}
.header h1 {
    font-size: 75px;
}
.header h2 {
    font-size: 40px;
    font-style: italic;
}
button {
    background-color: #03335F;
    color: white;
    padding: 20px;
    text-align: center;
    margin: 0 auto;
}
#top {
    text-align: center;
    margin: 0 auto;
}
.topButton {
	position: relative;
	top: -48px;
	width: 84%;
	background-color: rgba(208,207,207,1.00);
	height: 35px;
	color: rgba(255,255,255,1.00);
	border-style: none;
	font-size: 14px;
	text-transform: uppercase;
	margin-top: 8px;
}
body {
    color: #03335F;
}