.top {
	text-align: center;

}
h1 {
    font-size: 50px;
}
h3 {
	font-size: 35px;
}
body {
	background-color: lightblue;
	color: #001C48;

}
td {
	text-align: center;
	width: 50%;
	border: 5px solid darkblue;
	font-size: 20px;
	font-weight: bold;
}
th {
	font-size: 25px;
}
tr {
	text-align: center;
	border: 5px solid darkblue;
}
.half {
	width: 50%;

}
table {
	border-collapse: collapse;
}
.footer {
	text-align: center;
	background-color: darkorange;
	border: 5px solid darkblue;

}
h5 {
	font-size: 20px;
	margin-bottom: 1%;
}
a {
	color: white;
	font-weight: bold;
}
img {
	text-align: center;
	width: 50%;
}
button {
	background-color: darkblue;
	text-align: center;
	width: 50%;
	margin-left: 25%;
	padding: 20px;
}
.special {
	margin-left: 25%;
}
br {
	background-color: white;
}
#haha {
	border-top: 20px solid white;
}
.carousel-item {
	background-color: #001C47;
}